<md-content class="md-padding" layout="column" layout-align="center center">
	<form name="transferenceForm" ng-submit="vm.transference(transferenceForm.$valid)" novalidate>  
		<div layout="row" ng-init="vm.setForm(transferenceForm)" flex>
			<account agency="vm.sourceAgency" account-number="vm.sourceAccountNumber" other-agency="vm.destinationAgency" other-account-number="vm.destinationAccountNumber" form="transferenceForm"></account>
			<div layout="row" layout-align="center center">
				=>
			</div>
			<account agency="vm.destinationAgency" account-number="vm.destinationAccountNumber" other-agency="vm.sourceAgency" other-account-number="vm.sourceAccountNumber" form="transferenceForm"></account>
		</div>
		<div layout="column" layout-align="start start">
			<md-input-container>
			    <label>Value</label>
			    <input required name="value" ng-model="vm.value" type="number" min="0.1">
			    <div ng-messages="transferenceForm.value.$error">
			      <div ng-message="required">This is required.</div>
			    </div>
			</md-input-container>
			<md-button class="md-raised md-primary" type="submit" id="transference">
			    Transference
			</md-button>
		</div>
	</form>
</md-content>

